---
title: Textarea
description: Displays a form textarea or a component that looks like a textarea.
---

<script>
  import Textarea from "$lib/components/ui/textarea.svelte";
</script>

<Textarea />
