@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}

@layer base {
  .mdx pre {
    @apply mb-4 mt-6 max-h-[1000px] overflow-x-auto rounded-lg border py-4 data-[theme=dark]:bg-background data-[theme=light]:bg-white;
  }
  .mdx pre .line {
    @apply inline-block min-h-[1rem] w-full px-4 py-0.5;
  }
  .mdx :not(pre) code {
    @apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm;
  }

  .mdx h1 {
    @apply mt-2 scroll-m-20 text-4xl font-bold;
  }
  .mdx h2 {
    @apply mt-12 scroll-m-20 border-b pb-2 text-2xl font-semibold tracking-tight first:mt-0;
  }
  .mdx h3 {
    @apply mt-8 scroll-m-20 text-xl font-semibold tracking-tight;
  }
  .mdx h4 {
    @apply mt-8 scroll-m-20 text-lg font-semibold tracking-tight;
  }
  .mdx h5 {
    @apply mt-8 scroll-m-20 text-lg font-semibold tracking-tight;
  }
  .mdx h6 {
    @apply mt-8 scroll-m-20 text-base font-semibold tracking-tight;
  }
  .mdx p {
    @apply leading-7 [&:not(:first-child)]:mt-6;
  }

  /* .mdx a {
    @apply font-medium underline underline-offset-4;
  }
  .mdx blockquote {
    @apply mt-6 border-l-2 pl-6 italic;
  } */

  .mdx li {
    @apply mt-2;
  }
  .mdx ol {
    @apply my-6 ml-6 list-decimal;
  }
  .mdx ul {
    @apply my-6 ml-6 list-disc;
  }

  /* shiki code block */
  [data-theme='light'],
  .dark [data-theme='dark'] {
    display: block;
  }

  [data-theme='dark'],
  .dark [data-theme='light'] {
    display: none;
  }

  /* rehype-autolink-headings */
  .mdx .anchor {
    @apply absolute -ml-9 mt-1 flex h-6 w-6 items-center justify-center opacity-0 transition-all;
    @apply rounded-md border-none no-underline ring-1 ring-border;
    @apply hover:shadow hover:ring-border;
  }

  .mdx .anchor:after {
    content: ' ';
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' aria-hidden='true'%3E%3Cpath d='M3.75 1v10M8.25 1v10M1 3.75h10M1 8.25h10' stroke='currentColor' strokeWidth='1.5' strokeLinecap='round' /%3E%3C/svg%3E");
    mask-repeat: no-repeat;
    mask-position: center;

    @apply h-4 w-4 bg-popover-foreground;
  }

  .mdx .anchor:hover,
  .mdx *:hover > .anchor {
    @apply md:opacity-100;
  }
}
